nav {
  background-color: #455a64;
}

.nav-link {
  margin-right: 8px;
  margin-top: 4px !important;
}

.active-link {
  border-bottom: 5px solid rgb(142, 252, 115) !important;
  font-weight: bold;
}
