<head>
  <meta name="description" content="Crypto news item detail" />
</head>
<app-navbar [back]="true" [title]="currentItem.source"></app-navbar>

<mat-card>
  <mat-card-title-group>
    <img mat-card-sm-image *ngIf="currentItem.imageurl" [src]="currentItem.imageurl" />
    <mat-card-title>{{ currentItem.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="currentItem.source_info.name">
      {{ currentItem.source_info.name }}. Published: {{ currentItem.published_on | date }}
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p *ngIf="currentItem.body">
      {{ currentItem.body }}
    </p>
  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>
