@use '@angular/material' as mat;

// Use the default configuration.
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 900);
$accent: mat.define-palette(mat.$amber-palette, 500, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
),
density: 0,
));

$text: #000;
$background: rgb(37, 36, 105);

body {
  font-family: "Roboto", sans-serif;
  background: $background;
  color: $text;
  margin: 0;
  padding: 64px 0 0 0;
  @media (max-width: 600px) {
    padding-top: 56px 0 0 0;
  }
}

.app-navbar {
  position: fixed;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6, label, p {
  color: $text !important;
}

.navbar-image {
  height: 32px;
  max-height: 100%;
  margin-left: 8px;
}

.navbar-spacer {
  flex: 1 1 auto;
}
