<head>
  <meta name="description" content="Crypto news items list" />
</head>
<div class="container">
  <mat-list>
    <mat-list-item
      class="news-list"
      *ngFor="let newsItem of cryptoNews$ | async"
      (click)="onGoToNewsDetail(newsItem)"
      router-direction="forward"
      href="/news-detail"
    >
      <img
        matListItemAvatar
        width="40"
        height="40"
        [ngSrc]="newsItem.imageurl"
        [alt]="newsItem.title"
      />
      <span matListItemTitle>{{ newsItem.title }}</span>
      <span matListItemLine>{{ newsItem.source_info.name }}</span>
    </mat-list-item>
  </mat-list>
</div>
